{% if header_navigation %}
  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a href="{% url 'base:home' %}#hero" class="header-navlink">Home</a>
      </li>
      <li>
        <a href="{% url 'base:home' %}#contact" class="header-navlink">Contact</a>
      </li>
      {% for item in header_nav_items %}
        <li>
          <a href="{{ item.url }}" class="header-navlink">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
{% endif %}
