<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- ======= Meta Tags, Favicon & Apple Touch Icon ======= -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="theme-color" content="{{ SITE_THEME_COLOR }}" />
    <meta name="author" content="{{ SITE_NAME }}" />
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    <meta name="keywords" content="{{ SITE_NAME }}" />
    <meta name="twitter:card" content="{{ SITE_DESCRIPTION }}" />
    <meta name="twitter:site" content="{{ SITE_URL }}" />
    <meta name="twitter:title" content="{{ SITE_NAME }}" />
    <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
    <meta name="twitter:image" content="{{ SITE_LOGO }}" />
    <meta name="twitter:image:alt" content="{{ SITE_NAME }}" />
    <meta property="og:url" content="{{ SITE_URL }}" />
    <meta property="og:site_name" content="{{ SITE_NAME }}" />
    <meta property="og:title" content="{{ SITE_NAME }}" />
    <meta property="og:image" content="{{ SITE_LOGO }}" />
    <meta property="og:locale" content="en_GB" />
    <link href="{{ SITE_FAVICON }}" rel="icon" />
    <link href="{{ SITE_APPLE_TOUCH_ICON }}" rel="apple-touch-icon" />
    {% block metatags %}
    {% endblock metatags %}

    <!-- ======= Title ======= -->
    {% if page_title %}
      <title>{{ page_title }} | {{ SITE_NAME }}</title>
    {% else %}
      <title>{{ SITE_NAME }}</title>
    {% endif %}

    <!-- ======= Vendor assets ======= -->
    {% include 'base/assets/vendors/bootstrap.html' %}
    {% include 'base/assets/vendors/bootstrap-icons.html' %}
    {% include 'base/assets/vendors/aos.html' %}
    {% block vendor_assets %}
    {% endblock vendor_assets %}

    <!-- ======= Layout assets ======= -->
    {% include 'base/assets/layout/global.html' %}
    {% include 'base/assets/layout/header.html' %}
    {% include 'base/assets/layout/footer.html' %}
    {% block layout_assets %}
    {% endblock layout_assets %}

    <!-- ======= Widget assets ======= -->
    {% include 'base/assets/widgets/back-to-top.html' %}
    {% include 'base/assets/widgets/whatsapp-call-us.html' %}
    {% include 'base/assets/widgets/preloader.html' %}
    {% block widget_assets %}
    {% endblock widget_assets %}

  </head>
  <body>
    <!-- ======= Layouts ======= -->
    {% include 'base/body/layout//header.html' %}
    {% include 'base/body/layout/main.html' %}
    {% include 'base/body/layout/footer.html' %}
    {% block layout_body %}
    {% endblock layout_body %}

    <!-- ======= Widgets ======= -->
    {% include 'base/body/widgets/back-to-top.html' %}
    {% include 'base/body/widgets/whatsapp-call-us.html' %}
    {% include 'base/body/widgets/preloader.html' %}
    {% block widgets_body %}
    {% endblock widgets_body %}

  </body>
</html>
