{% load static %}
{% load org %}
{% load vendor %}
{% load header %}
{% load footer %}
{% load overlay %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% org_meta %}

    {% org_icons %}

    {% org_title %}

    {% vendor_static %}

    <link href="{% static 'base/index.css' %}" rel="stylesheet" />
    <script defer src="{% static 'base/index.js' %}"></script>

    {% header_static %}

    {% block staticfiles %}
    {% endblock staticfiles %}

    {% footer_static %}

    {% overlay_static %}

    {% block overlay_static %}
    {% endblock overlay_static %}

  </head>
  <body>

    {% header %}

    {% block main %}
    {% endblock main %}

    {% footer %}

    {% overlay %}

    {% block overlay %}
    {% endblock overlay %}

  </body>
</html>
