# Byte-compiled / optimized / DLL files
__pycache__/

# Lib files (SQLite, Media, and Static files)
lib/

# vendor & node_modules
/apps/core/static/core/vendor

# Environments
.env

# packages and vendor files
.venv/

# Misc
.vscode/
.backup/
