{% if header_navigation %}
  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a href="{% url 'base:home' %}#hero" class="header-navlink">Home</a>
      </li>
      {% for item in header_nav_items %}
        <li>
          <a href="{{ item.url }}" class="header-navlink">{{ item.name }}</a>
        </li>
      {% endfor %}
      {% comment  %}
        {% if request.user.is_authenticated and request.user.is_staff %}
        <li>
          <a href="/admin" class="header-navlink">Admin</a>
        </li>
        {% elif request.user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'base:signout' %}" style="display: inline" class="logout-form">
              {% csrf_token %}
              <button type="submit" class="header-navlink btn bg-none logout-btn">Logout</button>
            </form>
          </li>
        {% else %}
          <li>
            <a href="{% url 'base:signin' %}" class="header-navlink">Login</a>
          </li>
        {% endif %}
      {% endcomment %}
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
{% endif %}
