{% load navigation %}
{% load urls %}

{% if header_navigation|default_if_none:True %}
  <nav id="navmenu" class="navmenu">
    <ul>

      {% if show_hero %}
        <li>
          <a href="{% landing_url_with_fragment 'hero' %}" class="header-navlink">Home</a>
        </li>
      {% endif %}

      {% if show_contact %}
        <li>
          <a href="{% landing_url_with_fragment 'contact' %}"
             class="header-navlink">Contact</a>
        </li>
      {% endif %}

      {% navigation link_class="header-navlink" %}
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
{% endif %}
