<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <div class="container text-center">
    <div class="row justify-content-center" data-aos="zoom-out">
      <div class="col-lg-8">
        <img src="{{ org.logo.url }}"
             width="130"
             height="133"
             alt=""
             class="img-fluid mb-3" />
        <h2>{{ company_fullname }}</h2>
        <p>{{ company_motto }}</p>
        <a href="{% url 'shop-dashboard' %}" class="btn-get-started">Shop Online Now</a>
      </div>
    </div>
  </div>
</section>
