{% load static %}
<section id="category-product-list" class="category-product-list section">
  <div class="container aos-init aos-animate"
       data-aos="fade-up"
       data-aos-delay="100">
    <div class="row gy-4">
      {% for item in items %}
        <div class="col-lg-6">
          <div class="product-box">
            <div class="product-thumb">
              {% if item.discount_percentage and item.discount_percentage != 0 %}
                <span class="product-label product-label-sale">-{{ item.discount_percentage|floatformat:0 }}%</span>
              {% endif %}
              {% if item.image %}
                <img src="{{ item.image.url }}"
                     alt="Product Image"
                     class="main-img"
                     width=""
                     height=""
                     loading="lazy" />
              {% endif %}
              <div class="product-overlay">
                <div class="product-quick-actions">
                  <button type="button" class="quick-action-btn">
                    <i class="bi bi-heart"></i>
                  </button>
                  <button type="button" class="quick-action-btn">
                    <i class="bi bi-arrow-repeat"></i>
                  </button>
                  <button type="button" class="quick-action-btn">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <!-- <div class="add-to-cart-container">
                  <button type="button" class="add-to-cart-btn">Add to Cart</button>
                </div> -->
              </div>
            </div>
            <div class="product-content">
              <div class="product-details">
                <h3 class="product-title">
                  <a href="#">{{ item.name }}</a>
                </h3>
                <div class="product-price">
                  {% if item.discount_percentage and item.discount_percentage != 0 %}
                    <span class="original" style="text-decoration: line-through;">{{ item.original_price }}</span>
                    <span class="sale">{{ item.current_price }}</span>
                  {% else %}
                    <span>{{ item.current_price }}</span>
                  {% endif %}
                </div>
              </div>
              <!-- <div class="product-rating-container">
                <div class="rating-stars">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
                <span class="rating-number">4.5</span>
              </div>
              <div class="product-color-options">
                <span class="color-option" style="background-color: #0ea5e9;"></span>
                <span class="color-option active" style="background-color: #111827;"></span>
                <span class="color-option" style="background-color: #a855f7;"></span>
              </div> -->
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- End Product 2 -->
    </div>
  </div>
</section>
