.breadcrumbs {
  position: relative;
  padding: 15px 0;
  background: #f4f2f2;
  margin-bottom: 40px;
  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.breadcrumbs .container {
  position: relative;
  z-index: 2;
}

.breadcrumbs h2 {
  color: #eee;
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  /* color: #635551; */
  color: #9caaad;
  content: "/";
}

.scrolled .breadcrumbs {
  box-shadow: 0 4px 24px -4px rgba(0, 0, 0, 0.6);
}