.header .main-header {
  --background-color: rgba(0, 0, 0, 0);
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
}

/* Global Header on Scroll */
.scrolled .header .main-header {
  --background-color: rgba(0, 0, 0, 0.8);
}