{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="theme-color" content="{{ coreprovider.theme_color }}" />
    <meta name="author" content="{{ coreprovider.name }}" />
    <meta name="description" content="{{ coreprovider.motto }}" />
    <meta name="keywords" content="{{ coreprovider.name }}" />
    <meta name="twitter:card" content="{{ coreprovider.motto }}" />
    <meta name="twitter:site" content="{{ coreprovider.website }}" />
    <meta name="twitter:title" content="{{ coreprovider.name }}" />
    <meta name="twitter:description" content="{{ coreprovider.motto }}" />
    <meta name="twitter:image" content="{{ coreprovider.logo.url }}" />
    <meta name="twitter:image:alt" content="{{ coreprovider.name }}" />
    <meta property="og:url" content="{{ coreprovider.website }}" />
    <meta property="og:site_name" content="{{ coreprovider.name }}" />
    <meta property="og:title" content="{{ coreprovider.name }}" />
    <meta property="og:image" content="{{ coreprovider.logo.url }}" />
    <meta property="og:locale" content="en_GB" />

    <!-- title -->
    {% if page_title %}
      {% with page_title|last as last_crumb %}
        {% if last_crumb.label %}
          <title>{{ last_crumb.label }} | {{ coreprovider.name }}</title>
        {% else %}
          <title>{{ last_crumb }} | {{ coreprovider.name }}</title>
        {% endif %}
      {% endwith %}
    {% else %}
      <title>{{ coreprovider.name }}</title>
    {% endif %}


    <!-- Favicons & Webmanifest -->
    <link href="{{ coreprovider.favicon.url }}" rel="icon" />
    <link
      href="{{ coreprovider.apple_touch_icon.url }}"
      rel="apple-touch-icon"
    />

    <!-- Vendor CSS Styles -->    
    <link
      href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'core/vendor/bootstrap-icons/bootstrap-icons.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'core/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Core CSS Style -->
    <link href="{% static 'core/global.css' %}" rel="stylesheet" />

    <!-- Other  CSS Styles -->
    {% block styles %}
    {% endblock styles %}

   
  </head>
  <body>
    <!-- ======= Top Bar ======= -->
    <!-- ======= Header ======= -->
     {% if has_header %}
      {% include 'core/includes/header.html' %}
    {% endif %}  
    <!-- ======= Main ======= -->
    <main id="main">
      <!-- Other main sections -->
      {% block inner_main %}
      {% endblock inner_main %}
    </main>
    <!-- ======= Footer ======= -->
    {% if has_footer %}
      {% include 'core/includes/footer.html' with variant=footer_variant|default:"V1" %}
    {% endif %}
    <!-- ======= Back To Top Arrow ======= -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- ======= Preloader ======= -->
    <div id="preloader"></div>

     <!-- Vendor JS Scripts -->
    <script  src="{% static 'core/vendor/aos/aos.js' %}"></script>
    <script  src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Init JS Scripts -->
    <script  src="{% static 'core/init/aos.js' %}"></script>
    <script  src="{% static 'core/init/glightbox.js' %}"></script>

    <!-- Core JS Script -->
    {% include 'core/scripts.html' %}

    <!-- Other JS Scripts -->
     {% block scripts %}
     {% endblock scripts %}
  </body>
</html>
