{% load static %}

{% if show_footer %}
  <link href="{% static 'base/footer/styles.css' %}" rel="stylesheet" />
  <!-- widgets -->
  {% if footer_newsletter %}
    <link href="{% static 'base/footer/widgets/newsletter/styles.css' %}"
          rel="stylesheet" />
  {% endif %}

  {% if footer_top %}
    <link href="{% static 'base/footer/widgets/top/styles.css' %}" rel="stylesheet" />
  {% endif %}

  {% if footer_copyright %}
    <link href="{% static 'base/footer/widgets/copyright/styles.css' %}"
          rel="stylesheet" />
  {% endif %}
{% endif %}
