{% load org %}

{% if show_hero %}
  <section id="hero"
           class="hero section dark-background"
           style="background-image: url('{% org_cover_image %}')">
    <div class="container text-center">
      <div class="row justify-content-center" data-aos="zoom-out">
        <div class="col-lg-8">
          <img src="{% org_logo %}"
               width="130"
               height="133"
               alt=""
               class="img-fluid mb-3" />
          <h2>{% org_name %}</h2>
          <p>{% org_description %}</p>
          <span>{% include 'base/widget/hero-btn-1/widget.html' %}</span>
          <span class="ms-2">{% include 'base/widget/hero-btn-2/widget.html' %}</span>
        </div>
      </div>
    </div>
  </section>
{% endif %}
