/*--------------------------------------------------------------
    # Registration
    --------------------------------------------------------------*/
.registration .email-form {
  background: #fff;
}

.registration .email-form .form-group {
  padding-bottom: 8px;
}

.registration .email-form input {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.registration .email-form input:focus {
  border-color: var(--bs-primary);
}

.registration .email-form input {
  height: 44px;
}

.registration .email-form button[type="submit"] {
  background: var(--bs-primary);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.registration .email-form .back-btn {
  /* background: #ff5821; */
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.registration .email-form button[type="submit"]:hover {
  background: color-mix(in srgb, var(--bs-primary), transparent 20%);
}