{% load contacts %}
{% load static %}

{% if overlay_whatsapp_call_us|default_if_none:True %}
  <style>
    .whatsapp-float,
    .call-float {
      position: fixed;
      z-index: 996;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      transition: all 0.4s;
    }

    .call-float {
      background: var(--bs-primary);
    }

    .whatsapp-float {
      background: #25D366;
      /* WhatsApp green */
    }

    .whatsapp-float i,
    .call-float i {
      font-size: 24px;
      color: var(--contrast-color);
      line-height: 0;
    }

    .whatsapp-float:hover,
    .call-float:hover {
      background-color: color-mix(in srgb, var(--bs-primary), transparent 20%);
      color: var(--contrast-color);
    }
  </style>
  {% whatsapp_phone as whatsapp %}
  {% primary_phone as primary_phone %}

  {% if whatsapp and whatsapp.whatsapp_link %}
    <a href="{{ whatsapp.whatsapp_link }}"
      class="whatsapp-float d-flex align-items-center justify-content-center position-fixed bottom-0 mb-3"
      {# the start css value is modified using javascript #}
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Contact us on WhatsApp">
      <i class="bi bi-whatsapp"></i>
    </a>
  {% endif %}

  {% if primary_phone %}
    <a href="{{ primary_phone.tel_link }}"
      {# Position at bottom if no WhatsApp #}
      class="call-float d-flex align-items-center justify-content-center position-fixed bottom-0 mb-3"
      {# the start css value is modified using javascript #}

      {% if whatsapp and whatsapp.whatsapp_link %}
        {# Position below WhatsApp button if both exist (override margin-bottom) #}
        style="margin-bottom: 4rem !important;"
      {% endif %}

      aria-label="Call us">
      <i class="bi bi-telephone"></i>
    </a>
  {% endif %}

  <script defer src="{% static 'core/overlay/whatsapp-call-us.js' %}"></script>
{% endif %}
