<!DOCTYPE html>
{% load base %}
{% load vendor %}
{% load forms %}
{% load modals %}

<html lang="en" dir="ltr">
  <head>
    {% base_title %}
    {% base_meta %}
    {% base_icons %}
    <link rel="manifest" href="{% url 'webmanifest' %}">
    {% vendor_bootstrap %}
    {% vendor_bootstrap_icons %}
    {% vendor_aos %}
    {% include "core/overlay/preloader/static.html" %}
    {% include "core/layout/navigation/static.html" %}
    {% include "core/layout/hero/static.html" %}
    {% include "core/layout/auth/signin/static.html" %}
    {% include "core/layout/auth/signup/static.html" %}
    {% block staticfiles %}{% endblock %}
    {% include "core/layout/contact/static.html" %}
    {% include "core/overlay/whatsapp-call-us/static.html" %}
    {% include "core/overlay/back-to-top/static.html" %}
    {% include "core/layout/footer/static.html" %}
  </head>
  <body>
    {% include "core/overlay/preloader/overlay.html" %}
    {% include "core/layout/navigation/layout.html" %}
    <main class="position-relative">
      {% include "core/layout/hero/layout.html" %}
      {% include "core/layout/auth/signin/layout.html" %}
      {% include "core/layout/auth/signup/layout.html" %}
      {% block sections %}{% endblock %}
      {% include "core/layout/contact/layout.html" %}
      {% include "core/overlay/whatsapp-call-us/overlay.html" %}
    </main>
    {% include "core/layout/footer/layout.html" %}
    {% include "core/overlay/back-to-top/overlay.html" %}
    {% modal_auth %}
    {% form_logout %}
  </body>
</html>
