@media (max-width: 1199.98px) {
  .header .main-header .header-social-links {
    order: 2;
  }
}

.header .main-header .header-social-links {
  padding-right: 15px;
}

.header .main-header .header-social-links a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  padding-left: 6px;
  display: inline-block;
  transition: 0.3s;
  font-size: 16px;
}

.header .main-header .header-social-links a:hover {
  color: var(--bs-primary);
}

.header .main-header .header-social-links a i {
  line-height: 0px;
}