{% extends "home/layout.html" %}
{% load static %}
{% block styles %}
  {% include "_auth/stylesheet/style.html" %}
{% endblock styles %}
{% block inner_main %}
  <!-- ======= Registration Section ======= -->
  {% if signupinterface %}
    {% include "_auth/includes/signup.html" %}
  {% elif profileupdateinterface %}
    {% include "_auth/includes/profile_update.html" %}
  {% elif logininterface %}
    {% include "_auth/includes/login.html" %}
  {% endif %}
  <!-- End Registration Section -->
{% endblock inner_main %}
